% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "~>3.2.0"},
  %% for qdate
  %%{qdate, "~>0.4.3"},
  %%{erlware_commons, "~>1.0.0"},
  {qdate, ".*", {git, "https://github.com/dalmatinerdb/qdate.git", {branch, "r19-dialyzer"}}},
  {dproto, "~>0.5.0"},
  {mmath, "~>0.2.0"},
  {hdr_histogram, "~>0.2.0"},
  {otter, ".*", {git, "https://github.com/project-fifo/otter.git", {branch, "dev"}}},
  {dflow, "~>0.2.0"},
  {dqe_fun, "~>0.2.0"},
  %% {dqe_idx, "~>0.2.0"},
  {dqe_idx, {git, "https://github.com/dalmatinerdb/dqe_idx.git", {branch, "time_range_update"}}},
  %% {dqe_idx_ddb, "~>0.2.0"},
  {dqe_idx_ddb, {git, "https://github.com/dalmatinerdb/dqe_idx_ddb.git", {branch, "time_range_update"}}},
  %% {dqe_idx_pg, "~>0.3.0"},
  {dqe_idx_pg, {git, "https://github.com/dalmatinerdb/dqe_idx_pg.git", {branch, "time_range_update"}}},
  {ddb_connection, "~>0.4.0"}
 ]}.

{profiles,
 [{lint,  [{plugins, [rebar3_lint]}]},
  {shell, [{deps, [recon, sync]}]},
  {eqc, [{deps, [meck]}, {plugins, [rebar_eqc]}]}]}.

{shell, [{apps, [dqe]}]}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer, [{warnings, [underspecs]}]}.
