% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {poolboy, "1.5.1"},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {tag, "0.3.0"}}},
  {dproto, "0.1.7"},
  {ddb_client, "0.1.6"},
  {mmath, "0.1.6"},
  {dflow, "0.1.3"}
 ]}.
{plugins, [rebar3_eqc]}.
