% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors
 %, {parse_transform, lager_transform}
]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.2.1"}}},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {tag, "0.3.0"}}},
  {dproto, "0.1.*", {git, "git://github.com/dalmatinerdb/dproto.git", {tag, "0.1.3"}}},
  {ddb_client, "0.1.*", {git, "git://github.com/dalmatinerdb/ddb_client.git", {tag, "0.1.1"}}},
  {mmath, "0.1.*", {git, "https://github.com/DalmatinerDB/mmath.git", {tag, "0.1.3"}}},
  {dflow, "0.1.*", {git, "https://github.com/DalmatinerDB/dflow.git", {tag, "0.1.1"}}},
  {fqc, ".*", {git, "https://github.com/project-fifo/fqc.git", {tag, "0.1.1"}}}
 ]}.
